# coding: utf-8

{{>partial_header}}


{{#models}}
{{#model}}
{{#isEnum}}
{{>model_enum}}

{{/isEnum}}
{{^isEnum}}
{{#if oneOf}}{{>model_oneof}}{{/if}}{{^oneOf}}{{#if anyOf}}{{>model_anyof}}{{/if}}{{^anyOf}}{{>model_generic}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
