# coding: utf-8

{{>partial_header}}


{{#models}}
{{#model}}
{{#isEnum}}
{{>model_enum}}

{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#if @first}}{{>model_oneof}}{{/if}}{{/oneOf}}{{^oneOf}}{{#anyOf}}{{#if @first}}{{>model_anyof}}{{/if}}{{/anyOf}}{{^anyOf}}{{>model_generic}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
