import {all, fork} from "redux-saga/effects";

import {
{{#apiInfo}}
{{#apis}}
    {{#camelcase}}{{classFilename}}{{/camelcase}}AllSagas,
{{/apis}}
{{/apiInfo}}
} from "./index{{importFileExtension}}";

export function *allApiSagas() {
    yield all([
{{#apiInfo}}
{{#apis}}
        fork({{#camelcase}}{{classFilename}}{{/camelcase}}AllSagas),
{{/apis}}
{{/apiInfo}}
    ]);
}
