/**
 * @type {{classname}}
 * {{#indented_star_1}}{{{unescapedDescription}}}{{/indented_star_1}}
 * @export
 */
export type {{classname}} = {{#discriminator}}{{#mappedModels}}{ {{discriminator.propertyName}}: '{{mappingName}}' } & {{modelName}}{{#unless @last}} | {{/unless}}{{/mappedModels}}{{/discriminator}}{{^discriminator}}{{#oneOf}}{{{.}}}{{#unless @last}} | {{/unless}}{{/oneOf}}{{/discriminator}};
