{{#stringEnums}}
/**
 * {{#indented_star_1}}{{{unescapedDescription}}}{{/indented_star_1}}
 * @export
 * @enum {string}
 */
export enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{#enumDescription}}
    /**
    * {{enumDescription}}
    */
    {{/enumDescription}}
    {{{name}}} = {{{value}}}{{#unless @last}},{{/unless}}
{{/enumVars}}
{{/allowableValues}}
}
{{/stringEnums}}{{^stringEnums}}
/**
 * {{#indented_star_1}}{{{unescapedDescription}}}{{/indented_star_1}}
 * @export
 */
export const {{classname}} = {
{{#allowableValues}}
{{#enumVars}}
    {{#enumDescription}}
    /**
    * {{enumDescription}}
    */
    {{/enumDescription}}
    {{{name}}}: {{{value}}}{{#unless @last}},{{/unless}}
{{/enumVars}}
{{/allowableValues}}
} as const;
export type {{classname}} = typeof {{classname}}[keyof typeof {{classname}}];
{{/stringEnums}}
