/**
 * @type {{classname}}
 * {{#indented_star_1}}{{{unescapedDescription}}}{{/indented_star_1}}
 * @export
 */
export type {{classname}} = {{#if discriminator}}{{#mappedModels}}{ {{discriminator.propertyName}}: '{{mappingName}}' } & {{modelName}}{{^-last}} | {{/-last}}{{/mappedModels}}{{/if}}{{#unless discriminator}}{{#oneOf}}{{{.}}}{{^-last}} | {{/-last}}{{/oneOf}}{{/unless}};
