/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}

{{#models}}
{{#model}}
{{#isEnum}}
{{>modelEnum}}

{{/isEnum}}
{{^isEnum}}
{{#if oneOf}}
{{>modelOneOf}}

{{/if}}
{{^oneOf}}
{{>modelGeneric}}

{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
