/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}


import {Api} from './index{{importFileExtension}}';
import {List} from 'immutable';
import {all, fork, put, takeLatest} from "redux-saga/effects";
import {apiCall, createSagaAction as originalCreateSagaAction, BaseEntitySupportPayloadApiAction, BasePayloadApiAction, NormalizedRecordEntities, normalizedEntities} from "../runtimeSagasAndRecords{{importFileExtension}}";
import {Action} from "redux-ts-simple";

{{#if imports}}
import {
    {{#imports}}
    {{className}},
    {{className}}Record,
    {{#camelcase}}{{classname}}{{/camelcase}}RecordUtils,
    {{/imports}}
    {{#passthroughImports}}
    {{.}},
    {{/passthroughImports}}
} from '../models/index{{importFileExtension}}';
{{/if}}
{{#hasEnums}}
{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}

import {
    {{operationIdCamelCase}}{{enumName}},
} from './{{classname}}{{importFileExtension}}';
{{/isEnum}}
{{/allParams}}
{{/operation}}
{{/operations}}
{{/hasEnums}}

const createSagaAction = <T>(type: string) => originalCreateSagaAction<T>(type, {namespace: "api_{{#camelcase}}{{classname}}{{/camelcase}}"});

export const {{#camelcase}}{{classname}}{{/camelcase}}SagaMap = new Map<string, () => Generator<any, any, any>>([
{{#operations}}
    {{#operation}}
        ["{{nickname}}", {{nickname}}Saga],
    {{/operation}}
{{/operations}}
    ]
);

export function *{{#camelcase}}{{classname}}{{/camelcase}}AllSagas() {
    yield all([...{{#camelcase}}{{classname}}{{/camelcase}}SagaMap.values()].map(actionSaga => fork(actionSaga)));
}

{{#operations}}
{{#operation}}
//region {{nickname}}

{{#returnTypeSupportsEntities}}
export interface Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}} extends {{#if allParams}}Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}Request, {{/if}}BaseEntitySupportPayloadApiAction {
}
{{/returnTypeSupportsEntities}}
{{^returnTypeSupportsEntities}}
export interface Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}} extends {{#if allParams}}Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}Request, {{/if}}BasePayloadApiAction {
}
{{/returnTypeSupportsEntities}}

{{#if allParams}}
export interface Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}Request {
{{#allParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataTypeAlternate}}};
{{/allParams}}
}
{{/if}}

export const {{nickname}}Request = createSagaAction<{{#if allParams}}Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}Request{{/if}}{{#unless allParams}}void{{/if}}>("{{nickname}}Request");
{{#if returnType}}
export const {{nickname}}Success = createSagaAction<{{#hasReturnPassthroughVoid}}void{{/hasReturnPassthroughVoid}}{{^hasReturnPassthroughVoid}}{{{returnTypeAlternate}}}{{/hasReturnPassthroughVoid}}>("{{nickname}}Success");
{{#returnTypeSupportsEntities}}
export const {{nickname}}Success_Entities = createSagaAction<NormalizedRecordEntities>("{{nickname}}Success_Entities");
{{/returnTypeSupportsEntities}}
{{/if}}
{{#unless returnType}}
export const {{nickname}}Success = createSagaAction<void>("{{nickname}}Success");
{{/unless}}
export const {{nickname}}Failure = createSagaAction<{error: any, requestPayload: Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}}>("{{nickname}}Failure");

export const {{nickname}} = createSagaAction<Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}>("{{nickname}}");

export function *{{nickname}}Saga() {
    yield takeLatest({{nickname}}, {{nickname}}SagaImp);
}

export function *{{nickname}}SagaImp(_action_: Action<Payload{{#titlecase}}{{#camelcase}}{{nickname}}{{/camelcase}}{{/titlecase}}>){{#unless returnType}}: any{{/unless}} {
    const {markErrorsAsHandled, ..._payloadRest_} = _action_.payload;
    try {
{{#returnTypeSupportsEntities}}
        const {toEntities, toInlined = !toEntities, ...requestPayload} = _payloadRest_;
{{/returnTypeSupportsEntities}}
{{#if allParams}}
        const {
{{#allParams}}
            {{paramName}},
{{/allParams}}
        } = _payloadRest_;
{{/if}}

        yield put({{nickname}}Request({{#if allParams}}{{#returnTypeSupportsEntities}}requestPayload{{/returnTypeSupportsEntities}}{{^returnTypeSupportsEntities}}_action_.payload{{/returnTypeSupportsEntities}}{{/if}}));

        const response{{#if returnType}}: Required<{{{returnType}}}>{{/if}} = yield apiCall(Api.{{#camelcase}}{{classname}}{{/camelcase}}, Api.{{#camelcase}}{{classname}}{{/camelcase}}['{{nickname}}'],
{{#if allParams}}
{{#allParams}}
{{#isUniqueId}}
{{#isArray}}
{{#items.isArray}}
            {{^required}}{{paramName}} ? {{/required}}{{paramName}}.map(p => p.toArray().map(p2 => (p2 ? parseFloat(p2) : null) as number)).toArray(){{^required}} : undefined{{/required}},
{{/items.isArray}}
{{^items.isArray}}
            {{^required}}{{paramName}} ? {{/required}}{{paramName}}.map(p => (p ? parseFloat(p) : null) as number ).toArray(){{^required}} : undefined{{/required}},
{{/items.isArray}}
{{/isArray}}
{{^isArray}}
            {{^required}}{{paramName}} ? {{/required}}parseFloat({{paramName}}){{^required}} : undefined{{/required}},
{{/isArray}}
{{/isUniqueId}}
{{^isUniqueId}}
{{#isArray}}
{{#items.isModel}}
            {{^required}}{{paramName}} ? {{/required}}{{#camelcase}}{{items.dataType}}{{/camelcase}}RecordUtils.toApiArray({{paramName}}){{^required}} : undefined{{/required}},
{{/items.isModel}}
{{^items.isModel}}
            {{^required}}{{paramName}} ? {{/required}}{{paramName}}.toJS(){{^required}} : undefined{{/required}},
{{/items.isModel}}
{{/isArray}}
{{#isModel}}
            {{^required}}{{paramName}} ? {{/required}}{{#camelcase}}{{{dataTypeAlternate}}}{{/camelcase}}Utils.toApi({{paramName}}){{^required}} : undefined{{/required}},
{{/isModel}}
{{^isArray}}
{{^isModel}}
            {{paramName}},
{{/isModel}}
{{/isArray}}
{{/isUniqueId}}
{{/allParams}}
{{/if}}
        );

{{#if returnType}}
{{^hasReturnPassthroughVoid}}
        let successReturnValue: any = undefined;
{{/hasReturnPassthroughVoid}}
{{/if}}
{{#returnTypeSupportsEntities}}
        if (toEntities) {
{{#returnPassthrough}}
            successReturnValue = {{#camelcase}}{{{returnType}}}{{/camelcase}}RecordUtils.fromApiPassthroughAsEntities(response);
{{/returnPassthrough}}
{{^hasReturnPassthroughVoid}}
{{^returnPassthrough}}
{{#returnTypeIsArray}}
{{#returnTypeAlternate}}
            successReturnValue = {{#camelcase}}{{returnBaseTypeAlternate}}{{/camelcase}}Utils.fromApiArrayAsEntities(response);
{{/returnTypeAlternate}}
{{/returnTypeIsArray}}
{{#returnTypeIsModel}}
            successReturnValue = {{#camelcase}}{{returnTypeAlternate}}{{/camelcase}}Utils.fromApiArrayAsEntities([response]);
{{/returnTypeIsModel}}
{{/returnPassthrough}}
{{/hasReturnPassthroughVoid}}
            yield put(normalizedEntities(successReturnValue));
            yield put({{nickname}}Success_Entities(successReturnValue));
        }
        if (toInlined) {
{{/returnTypeSupportsEntities}}
{{#if returnType}}
{{#returnPassthrough}}
            successReturnValue = {{#camelcase}}{{{returnType}}}{{/camelcase}}RecordUtils.fromApiPassthrough(response);
            yield put({{nickname}}Success(successReturnValue));
{{/returnPassthrough}}
{{#hasReturnPassthroughVoid}}
            yield put({{nickname}}Success());
{{/hasReturnPassthroughVoid}}
{{^hasReturnPassthroughVoid}}
{{^returnPassthrough}}
{{#returnTypeIsArray}}
{{#returnTypeAlternate}}
            successReturnValue = {{#camelcase}}{{returnBaseTypeAlternate}}{{/camelcase}}Utils.fromApiArray(response);
            yield put({{nickname}}Success(successReturnValue));
{{/returnTypeAlternate}}
{{/returnTypeIsArray}}
{{#returnTypeIsModel}}
            successReturnValue = {{#camelcase}}{{returnTypeAlternate}}{{/camelcase}}Utils.fromApi(response);
            yield put({{nickname}}Success(successReturnValue));
{{/returnTypeIsModel}}
{{^returnTypeIsArray}}
{{^returnTypeIsModel}}
            yield put({{nickname}}Success(response));
{{/returnTypeIsModel}}
{{/returnTypeIsArray}}
{{/returnPassthrough}}
{{/hasReturnPassthroughVoid}}
{{/if}}
{{#unless returnType}}
            yield put({{nickname}}Success());
{{/unless}}
{{#returnTypeSupportsEntities}}
        }
{{/returnTypeSupportsEntities}}

{{#if returnType}}
{{#returnPassthrough}}
        return successReturnValue;
{{/returnPassthrough}}
{{#hasReturnPassthroughVoid}}
        return undefined;
{{/hasReturnPassthroughVoid}}
{{^hasReturnPassthroughVoid}}
{{^returnPassthrough}}
{{#returnTypeIsArray}}
{{#returnTypeAlternate}}
        return successReturnValue;
{{/returnTypeAlternate}}
{{/returnTypeIsArray}}
{{#returnTypeIsModel}}
        return successReturnValue;
{{/returnTypeIsModel}}
{{^returnTypeIsArray}}
{{^returnTypeIsModel}}
        return response;
{{/returnTypeIsModel}}
{{/returnTypeIsArray}}
{{/returnPassthrough}}
{{/hasReturnPassthroughVoid}}
{{/if}}
{{#unless returnType}}
        return undefined;
{{/unless}}
    } catch (error: any) {
        if (markErrorsAsHandled) {error.wasHandled = true; }
        yield put({{nickname}}Failure({error, requestPayload: _action_.payload}));
        return error;
    }
}
//endregion
{{/operation}}
{{/operations}}
