{{>partial_header}}
package {{packageName}}

{{#models}}
import (
	"encoding/json"
{{#imports}}
	"{{import}}"
{{/imports}}
)

{{#model}}
{{#isEnum}}
{{>model_enum}}

{{/isEnum}}
{{^isEnum}}
{{#if oneOf}}{{>model_oneof}}{{/if}}{{^oneOf}}{{#if anyOf}}{{>model_anyof}}{{/if}}{{^anyOf}}{{>model_simple}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
